@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Black+Ops+One);
@import url(https://fonts.googleapis.com/css?family=Varela&subset=latin,latin-ext);
@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
*{
  box-sizing: border-box;
}

body{font-family: 'Open Sans', sans-serif;
 font-size: auto;
width:98%;
background-image: url(../images/bg.jpg);
background-color: transparent;
   margin: 0;
background-position: top;
background-size:cover;
position: relative;
}

 p{text-decoration: none;
  margin: auto;
  padding:0;
  position: absolute;;
}

header{position:relative;
/*display: block;*/
  font-family: "Open Sans";
  font-size: 1.2em;

  margin-left: 1%;
  padding: 0.5em 0 0.5em  4em;
  margin-bottom: 2%;
  margin-top: 2%;
border-top-left-radius: none;
border-bottom-left-radius: none;
border-top-right-radius: 1em;
border-bottom-right-radius: 1em;
  /*text-align: left;*/
  /*border-radius: 1em;*/

/*background-color:  darkgreen;*/
background: line-gradient (darkgreen, transparent);
}
.activo a{
  height:auto;
}
.navitems a {
  height:auto;
}
.logol {display:block;
position:absolute;
top:0;
left:0;
margin:0;
height: 100%;
padding: 0;
border: 1px solid white;
border-radius: 1em;
  }
.cuerpo_form {position: relative;
  margin: auto;
  overflow: hidden;

}

form {
  margin-top: 2%;
  position: relative;
  margin-left: 1%;
  padding:1em 2em 1em 2em;
  /*text-align: left;*/
  border-radius: 1em;
  background-color: rgba(75, 228, 100, 0.35);

}

.clear {
  clear: both;
}


.div1, .div2, .div3  {
  /*padding-left: 2em;
  padding-right: 2em;*/
  float: left;
  width: 33.3%;
}

.gen{
  display: inline-block;
  width:5%;
  margin: 0;
  padding: 0;
}
input , select{
  display: block;

  width: 85%;
  padding-left: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-left: 1em;
  margin-bottom: 1.5em;
}

input:focus{
  outline-color: lightgrey;
  outline-width:medium;
  outline-style: groove;
color: white;
background-color: rgba(158, 158, 158, 0.4);
}

legend {
  /*padding: 0.5em;*/
display: block;
margin: auto;
  margin-bottom: 10%;
}

.boton{



  font-size: 0.9em;
  padding: 0.7em;
border-radius: 0.5em;
background-color: #1FC238;
color:white;
font-weight: bolder;
text-shadow: 2px 2px grey;
/*border-bottom: 1px;*/
border: 1px solid black;
padding: 0.75em;


}

.button {background-color: rgba(97, 95, 95, 0.0005);


}

.sect {
  width:100%;
}
.botones{
  text-align: center;
}
label .gen
 {
   padding-left: 0.25em;
   width:100%;

 }
label {
  padding-right: 1em;


}


footer div{

  text-align: center;
  display: inline-block;
  margin: auto;
  width:32%;
  height: 5vh;
  background-color: rgba(75, 228, 100, 0.35);
 border:solid 1px #1ff;
 border-radius:0.75em;
 z-index: 3;
}

footer div a{
  text-align: center;
  text-decoration: none;
  color: white;
  padding-bottom: 1em;
}

footer {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 4%;
  width: 78%;
}
.copy {
  font-size: 0.7em;
    font-variant: small-caps;
display:block;
position: absolute;
right: 5%;
}

@media (max-width: 550px){


  .div1, .div2, .div3  {
    /*padding-left: 2em;
    padding-right: 2em;*/
  clear: both;
  margin: auto;
    width: 100%;
  }
}
